<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /chd104/ingrid/front
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /chd104/ingrid/front/index.html [L]
</IfModule>