section,
.section {
  padding: 30px 0;
  // margin-bottom: 30px;
  background-color: #f9f8f7;
  // background-color: #cc8800;
  background-image: url(https://www.transparenttextures.com/patterns/ecailles.png);
}

header {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;

  nav {
    padding: 12px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    .d-nav {
      display: flex;
      gap: 20px;
    }

    .none {
      display: none;
    }

    a>picture {
      display: block;
      width: 100px;

      img {
        width: 100%;
        vertical-align: middle;
        border-radius: 10px;
      }
    }
  }
}
.fa-regular{
  span{
    display: none;
  }
}
.header-link {
  display: flex;
  gap: 15px;

  a {
    color: #002451;
    text-decoration: none;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 3px;
      display: block;
      margin-top: 5px;
      right: 0;
      transition: width 0.4s ease;
      -webkit-transition: width 0.4s ease;
    }
    &:hover::after {
      width: 100%;
      left: 0;
      background: #002451;
    }

  }
}

@media screen and (max-width: 850px) {
  header {
    nav {

      // position: relative;
      .d-nav {
        display: none;
      }

      .none {
        display: flex;
        text-align: center;
        background-color: #fff;
        opacity: 0;
        transition: .5s;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        gap: 40px;
        padding: 10px;

        a {
          border-bottom: 1px solid #002451;
        }

        a:hover {
          background-color: #002451;
          color: #fff;
        }
      }

      // transform: translate(50% 50%);
    }

    .hb {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 5px;
      cursor: pointer;

      span {
        width: 80%;
        height: 2px;
        border-radius: 10px;
        background-color: #002451;
      }
    }
  }
}

.cart-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  width: 200px;
  border: 1px solid #ccc;
  padding: 16px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.cart_card {
  position: fixed;
    z-index: 3;
    right: 0;
  padding-top: 4%;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 0 0 5px 5px;
  width: 30%;
  margin-left: auto;
}

.close_btn {
  font-size: 25px;
  cursor: pointer;
  color: #002451;
  margin-bottom: 25px;

  i {
    margin-left: 89%;
  }
}

.cart_navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000000;
  width: 85%;
  margin: auto;
}

.cart_title h4 {
  font-weight: 600;
}

.cart_tag {
  display: flex;
  justify-content: center;
  margin-top: 5px;

}

.cart_tag1 {
  background-color: #71C4EF;
  width: 60px;
  border-radius: 5px 5px 0 0;
  height: 35px;
  cursor: pointer;

  p {
    color: #fff;
    text-align: center;
    padding-top: 7px;

  }
}

.cart_tag2 {
  background-color: #D4EAF7;
  width: 60px;
  border-radius: 5px 5px 0 0;
  height: 35px;
  cursor: pointer;

  p {
    color: #000000;
    text-align: center;
    padding-top: 7px;

  }
}

@media screen and (max-width: 768px) {

  .cart_card {
    padding-top: 12%;
    border: none;
    width: 100%;
  }

  .cart_title h4 {
    font-size: 24px;
  }
}

/* ====================================================== */
/* 購物車內容 */

.cart_content {
  text-align: center;
  padding: 3% 0 0 0;
  z-index: 6;

  .cart_checkoutItem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 2px dashed #002451;
    width: 85%;
    margin: auto;



    img {
      width: 25%;
      aspect-ratio: 4 / 3.5;
    }

  }

  .cart_checkout_content {
display: flex;
justify-content: space-between;
  }

  .cart_itemInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      font-size: 16px;
      font-weight: 600;
    }

    p {
      font-size: 14px;
    }

  }

  .cart_details {
    height: 49%;
    margin-top: 100px;


    .shop_cart_check {
      background-image: url('@/assets/img/shopping_cart_check.svg');
      width: 60px;
      height: 60px;
      margin: auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }



  }



  .cart_itemQty {
    margin-top: 20px;
    display: flex;
    justify-content: center;



    input {
      border: 1px solid #002451;
      width: 60px;
      text-align: center;
    }

    .cart_addBtn {
      background-color: #002451;
      color: #ffffff;
      cursor: pointer;

    }

    .cart_removeBtn {
      cursor: pointer;
      background-color: transparent;


    }

  }

  .cart_itemBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    i {
      cursor: pointer;
      color: #002451;
    }

    button {
      width: 80px;
      height: 30px;
      border-radius: 50px;
      font-size: 10px;
      cursor: pointer;
      background-color: transparent;
    }

  }

  .food_details {
    width: 100%;
    margin-top: 20px;
  }

}

@media screen and (max-width: 768px) {
  .cart_content {
    padding: 3% 0;
  }
}


/* ====================================================== */
/* 購物車結帳區塊 */

.cart_footer {

  .underline {
    border-bottom: 2px solid #000000;
    display: block;
    width: 85%;
    margin: auto;
  }

  .delete_btn {
    background-color: #71C4EF;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    color: white;
    padding: 4px 16px;
    cursor: pointer;
    margin-top: 16px;
    margin-left: -58%;
  }

  .cart_sum {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: 16px;

    p {
      font-size: 18px;
    }
  }

  .cart_btn {
    background-color: #002451;
    border: none;
    width: 100%;
    height: 30px;
    color: white;
    padding: 4px 16px;
    cursor: pointer;
    margin-top: 16px;
  }

}

@media screen and (max-width: 768px) {
  .cart_btn {
    height: 40px;
  }

}

