nav {
  padding: 1% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #999;

  .none {
    display: flex;
    gap: 20px;

  }

  a>picture {
    display: block;
    width: 100px;

    img {
      width: 100%;
      vertical-align: middle;
      border-radius: 10px;
    }
  }
}

.header-link {
  display: flex;
  gap: 15px;

  a {
    color: aliceblue;
    text-decoration: none;
  }
}

@media screen and (max-width:850px) {
  nav {
    .none {
      display: none;
    }

    .hb {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 5px;

      span {
        width: 80%;
        height: 2px;
        border-radius: 10px;
        background-color: aliceblue;
      }

    }
  }
}