section {
  padding: 30px 0;
  // margin-bottom: 30px;
  background-color: #f9f8f7;
}

header {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;

  nav {
    padding: 12px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    .none {
      display: flex;
      gap: 20px;
    }

    a>picture {
      display: block;
      width: 100px;

      img {
        width: 100%;
        vertical-align: middle;
        border-radius: 10px;
      }
    }
  }
}

.header-link {
  display: flex;
  gap: 15px;

  a {
    color: #002451;
    text-decoration: none;
  }
}

@media screen and (max-width: 850px) {
  header {
    nav {
      // position: relative;

      .none {
        text-align: center;
        background-color: #fff;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        gap: 40px;
        padding: 10px;

        a {
          border-bottom: 1px solid #002451;
        }

      }

      // transform: translate(50% 50%);
    }

    .hb {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 5px;
      cursor: pointer;

      span {
        width: 80%;
        height: 2px;
        border-radius: 10px;
        background-color: #002451;
      }
    }
  }
}