nav {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #999;
}

nav a picture {
    display: block;
    width: 100px;
}

nav a picture img {
    width: 100%;
    vertical-align: middle;
    border-radius: 10px;
}

.header-link {
    display: flex;
    gap: 15px;
}

.header-link a {
    color: aliceblue;
    text-decoration: none;
}