
//font模板
@mixin font($value1, $value2, $value3, $value4){
    font-size       : $value1;
    line-height     : $value2;
    letter-spacing  : $value3;
    font-weight     : $value4;
}



//字高字距字寬
h1{
    @include font($font-size-h1, $line-height-h1, $letter-spacing-h1, $font-weight);
}
h2{
    @include font($font-size-h2, $line-height-h2, $letter-spacing-h2, $font-weight);
}
h3{
    @include font($font-size-h3, $line-height-h3, $letter-spacing-h3, $font-weight);
}
h4{
    @include font($font-size-h4, $line-height-h4, $letter-spacing-h4, $font-weight);
}
p{
    @include font($font-size-p,  $line-height-p,  $letter-spacing-p,  $font-weight);
}
a{
    @include font($font-size-a,  $line-height-a,  $letter-spacing-a,  $font-weight);
}



//字形
body{
    font-family : $font-family ;
}









