body{
    width: 100%;
}


img{
    width: 100%;
}



nav{
    width    : $nav-width  ;
    height   : $nav-height  ;
    margin   : $nav-margin  ;
    padding  : $nav-padding-top  $nav-padding-right  $nav-padding-bottom  $nav-padding-left; 
}



.container{
    width   : $container-width;
    margin  : $container-margin-top   $container-margin-right   $container-margin-bottom   $container-margin-left ;
    padding : $container-padding-top  $container-padding-right  $container-padding-bottom  $container-padding-left;
}



.contnet{
    width   : $content-width;
    margin  : $content-margin-top   $content-margin-right   $content-margin-bottom   $content-margin-left ;
    padding : $content-padding-top  $content-padding-right  $content-padding-bottom  $content-padding-left;
}



